.ui.basic.modal#delete-post
  .ui.icon.header
    i.trash.icon
    | Voulez-vous vraiment supprimer ce message?
  .actions
    .ui.red.basic.cancel.inverted.button
      i.remove.icon
      |       Non
    #delete-post-modal.ui.green.ok.inverted.button
      i.checkmark.icon
      |       Oui