.ui.basic.modal#new-profile-pic
  .ui.icon.header
    i.user.icon
    | Vous pouvez modifier ici votre image de profil
  .actions
    form.ui.form.user-post(action="/profile/upload-file" method="POST" name='image-upload' enctype="multipart/form-data")
      .field
        label Choisissez une photo de profil
        .ui.user-post.input
          input#upload-file-input(type='file', name='file-upload', accept="image/x-png,image/gif,image/jpeg")
      button#upload-file-button.ui.primary.button(type='submit') Upload
