doctype html
include includes/header.pug
body
  include includes/nav.pug

  .ui.grid
    .stretched.row
      .three.wide.column
      .ten.wide.column
        h1
          i.x.icon
          | 503
        p.ui.segment Is it a 404? Is it a 200? No! It's a 503!
      .three.wide.column