doctype html
include includes/header.pug
body
  include includes/nav.pug

  .ui.grid
    .stretched.row
      .three.wide.column
      .ten.wide.column
        h1 A propos de KeeP
        p.ui.segment KeeP est un réseau social issu d'un projet étudiant.
      .three.wide.column