include includes/header.pug
body
  include includes/nav.pug

  h1 Create User Page

  section
    p Congrats #{data.username}, you are registered !
    h3
      | Click 
      a(href='/') here
      |  to continue.