include includes/header.pug
body
  include includes/nav.pug
  
  .ui.grid
    .stretched.row
      .three.wide.column
      .ten.wide.column
        #warningMessage
        if (typeof message !== 'undefined')
          p= message
        h1 Dashboard Page
