doctype html
include includes/header.pug
body
  include includes/nav.pug

  .ui.grid
    .stretched.row
      .three.wide.column
      .ten.wide.column
        #warningMessage
        if (typeof message !== 'undefined')
          p= message
        h1 Connexion
        form.ui.form.login.segment(method='POST' action="/account/login" name='login-form')
          p Entrez votre pseudo et votre mot de passe
          .two.fields
            .field
              label Pseudo
              input(type='text' name='username' placeholder='Pseudo')
            .field
              label Mot de passe
              input(type='password' name='password' placeholder='Mot de passe')
          .ui.primary.submit.button Envoyer
          .ui.error.message
      .three.wide.column