doctype html
include includes/header.pug
body
  include includes/nav.pug

  .ui.grid
    .stretched.row
      .three.wide.column
      .ten.wide.column
        #warningMessage
        if (typeof message !== 'undefined')
          p= message
        h1 Login
        form.ui.form.login.segment(method='POST' action="/account/login" name='login-form')
          p Enter your login informations
          .two.fields
            .field
              label Email
              input(type='email' name='email')
            .field
              label Password
              input(type='password' name='password')
          .ui.primary.submit.button Submit
          .ui.error.message
      .three.wide.column