include includes/header.pug
body
  include includes/nav.pug

  //- h1 Profile Page for #{data.searchedProfile}

  .ui.grid
    .stretched.row
      .three.wide.column
        h4.profile-info
         | Informations de profil
        .ui.card
          .image
            img(src='https://cdn.shopify.com/s/files/1/1679/2319/products/Thermal_Top.jpg?v=1548365724')
          .content
            a.header #{data.searchedProfile}
            .meta
              span.date Joined in #{data.joinedIn}
            .description
              | #{data.bio}
          .extra.content
            a
              i.user.icon
              | 22 Friends

      .nine.wide.column
        h4.profile-wall
         | Mur
        .ui.segment
          | 1
        .ui.segment
          | 2

      .four.wide.column
        h4.profile-feed
         | Feed
        .ui.segment
          | 1
        .ui.segment
          | 2
        .ui.segment
          | 3

