include includes/header.pug
body
  include includes/nav.pug
  - var userIsProfileOwner = data.isProfileOwner || false
  - var friendStatus       = data.friendStatus || ''
  - var friendsConfirmed   = data.friendsConfirmed || []
  - var friendsPending     = data.friendsPending || []
  - var friendsRejected    = data.friendsRejected || []
  - var friendsCount       = data.friendsCount || 0
  .ui.grid
    //- .stretched.row
    //- PROFILE INFOS
    .three.wide.column
      .ui.segment
        .ui.card
          .image
            img(src='https://cdn.shopify.com/s/files/1/1679/2319/products/Thermal_Top.jpg?v=1548365724')
          .content
            .header #{data.searchedProfile}
            .meta
              span.date Joined in #{data.joinedIn}
            .description
              | #{data.bio}
          .extra.content
            a
              i.user.icon
              | #{friendsCount}

      //- FOLLOW BUTTON
      if !userIsProfileOwner && data.role != 'v'
        if friendStatus == 'accepted'
          .ui.segment
            #add-friend-accepted.ui.fluid.positive.button
              i.user.icon
              | Follow
        else if friendStatus == 'requested'
          .ui.segment
            #add-friend-requested.ui.fluid.secondary.button
              i.user.icon
              | Follow
        else if friendStatus == 'unaccepted'
          .ui.segment
            #add-friend-unaccepted.ui.fluid.negative.button
              i.user.icon
              | Follow
        else
          .ui.segment
            #add-friend.ui.fluid.primary.button
              i.user.icon
              | Follow

    //- WALL
    .nine.wide.column
      if userIsProfileOwner
        .ui.segment
          form.ui.form.user-post(action="/account/login" name='user-post-form')
            .field
              .ui.user-post.input
                textarea#user-post(name='user-post', row="1", cols="33")
                  | What do you want to share ?
            #post-submit.ui.primary.submit.button Submit
      .ui.segment
        .ui.items
          .item
            .image
              img(src='https://cdn.shopify.com/s/files/1/1679/2319/products/Thermal_Top.jpg?v=1548365724')
            .content
              //- a.header Header
              //- .meta
                span Description
              .description
                p Here is the description
              //- .extra
                | Additional Details
      .ui.segment
        .ui.items
          .item
            .image
              img(src='https://cdn.shopify.com/s/files/1/1679/2319/products/Thermal_Top.jpg?v=1548365724')
            .content
              //- a.header Header
              //- .meta
                span Description
              .description
                p Here is the description
              //- .extra
                | Additional Details
      .ui.segment
        | 2

    //- FEED
    .four.wide.column
      .ui.segment
        | 1
      .ui.segment
        | 2
      .ui.segment
        | 3

