include includes/header.pug
body
  include includes/nav.pug

  h1 Sign Up Page

  section
    form.ui.form.login.segment(method='POST' action="/account/signup" name='signup-form')
      p Tell Us About Yourself bobby
      .three.fields
        .field
          label First Name
          input(placeholder='First Name' name='firstName' type='text')
        .field
          label Last Name
          input(placeholder='Last Name' name='lastName' type='text')
        .field
          label Username
          input(placeholder='Username' name='username' type='text')
      .three.fields
        .field
          label Email
          input(type='email' name='email')
        .field
          label Password
          input(type='password' name='password')
        .field
          label Confirm Password
          input(type='password' name='passwordConfirmation')
      .ui.primary.submit.button Submit
      .ui.error.message