* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
  vertical-align: baseline;
  /* font-family: 'Overpass', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  background-color: rgb(235, 235, 235);
}

.hiddenthing {
  display: none;
}

#post-profile-pic {
  max-width: 88px;
}

#profile-pic:hover {
  cursor: pointer;
}

.ui.feed {
  max-height: 60vh;
  overflow: auto;
}

/*
.########..##.....##.########.########..#######..##....##
.##.....##.##.....##....##.......##....##.....##.###...##
.##.....##.##.....##....##.......##....##.....##.####..##
.########..##.....##....##.......##....##.....##.##.##.##
.##.....##.##.....##....##.......##....##.....##.##..####
.##.....##.##.....##....##.......##....##.....##.##...###
.########...#######.....##.......##.....#######..##....##
*/

.ui.animated.button {
  background-color: orange;
  color: white;
  margin-bottom: 40px;
}

.ui.animated.button:hover {
  background-color: #2185d0;
}

.ui.labeled.button {
  margin: 0 5px 20px;
}

.ui.primary.button {
  background-color: orange;
  color: white;
}

.ui.secondary.button {
  background-color: #2185d0;
  color: white;
}

/*
.########..#######..########..##.....##
.##.......##.....##.##.....##.###...###
.##.......##.....##.##.....##.####.####
.######...##.....##.########..##.###.##
.##.......##.....##.##...##...##.....##
.##.......##.....##.##....##..##.....##
.##........#######..##.....##.##.....##
*/

textarea {
  resize: none;
}

.ui.form textarea:not([rows]) {
  height: unset;
}

.ui.form.user-post {
  justify-content: right;
}


/*
.##....##....###....##.....##
.###...##...##.##...##.....##
.####..##..##...##..##.....##
.##.##.##.##.....##.##.....##
.##..####.#########..##...##.
.##...###.##.....##...##.##..
.##....##.##.....##....###...
*/

.ui.inverted.segment.navbar {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.ui.inverted.secondary.menu {
  margin: 0 40px;
}

.ui.inverted.secondary.menu img {
  width: 100px;
}

.ui.fluid.search.dropdown.item {
  width: 350px;
}


/*
.##........#######...######...####.##....##
.##.......##.....##.##....##...##..###...##
.##.......##.....##.##.........##..####..##
.##.......##.....##.##...####..##..##.##.##
.##.......##.....##.##....##...##..##..####
.##.......##.....##.##....##...##..##...###
.########..#######...######...####.##....##
*/

.accueil {
  display: flex;
  height: 75%;
  justify-content: center;
}

.ui.middle.aligned.center.aligned.grid {
  width: 80vw;
}


/*
.##......##....###....##.......##......
.##..##..##...##.##...##.......##......
.##..##..##..##...##..##.......##......
.##..##..##.##.....##.##.......##......
.##..##..##.#########.##.......##......
.##..##..##.##.....##.##.......##......
..###..###..##.....##.########.########
*/

.ui.grid {
  margin: 0 50px;
}






